@use "../../styles/utils/variables.scss" as var;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--header--bg);
  padding: 0rem 15rem 1rem 15rem;
  height: 94vh;

  @media screen and (max-width: 1400px) {
    padding: 0rem 0rem 1rem 0rem;
  }

  @media screen and (max-width: var.$breakpoint-tablette) {
    margin-top: -0.1rem;
    padding: 0rem 0rem 1rem 0rem;
  }

  @media screen and (max-width: var.$breakpoint-mobile) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0rem 0rem 1rem 0rem;
    height: 90rem;
  }

  .text {
    display: flex;
    position: relative;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    opacity: 0.7;
    margin-top: 15rem;
    padding: 8rem;
    height: 70rem;

    @media screen and (max-width: var.$breakpoint-mobile) {
      gap: 10rem;
      margin-top: 0rem;
      height: 40rem;
    }

    .background {
      position: absolute;
      top: -5rem;
      filter: var(--header--IntegerCircuit);
      width: 100%;
      height: 80%;

      &__container {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
      }

      @media screen and (max-width: var.$breakpoint-mobile) {
        display: none;
      }

      &:hover {
        animation: IntegratedCircuit 1s both linear;
      }
    }

    @media screen and (max-width: var.$breakpoint-mobile) {
      align-items: center;
    }

    .profession {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      animation: translateBottom 0.8s 0.5s ease-in-out backwards;
      transition: background-color 1s;
      margin-top: 15rem;
      border: 0.1rem solid var(--header--profession--border);
      border-radius: var.$radius--30;
      background-color: var(--header--profession--bg);
      padding: 1.5rem;
      width: 20rem;
      color: var(--header--profession--color);
      font-size: var(--header--profession--fontSize--desktop);
      font-family: var(--fontFamily--archivo);

      @media screen and (max-width: var.$breakpoint-tablette) {
        margin-top: 16rem;
        border: none;
        background-color: transparent;
        font-size: 1.4rem var(--header--profession--fontSize--tablet);
      }

      @media screen and (max-width: var.$breakpoint-mobile) {
        margin-top: 2rem;
        background-color: var(--header--profession--bg);
        font-size: 1.5rem var(--header--profession--fontSize--mobile);
      }
    }

    .title {
      display: flex;
      flex-wrap: wrap;
      z-index: 1;
      animation: translateBottom 0.9s 0.5s ease-in-out forwards;
      margin: 1.5rem 0;
      color: var(--header--title);
      font-weight: var(--header--title--fontWeight);
      font-size: var(--header--title--fontSize--desktop);
      font-family: var(--fontFamily--oswald);

      @media screen and (max-width: var.$breakpoint-tablette) {
        font-size: var(--header--title--fontSize--tablet);
      }

      @media screen and (max-width: var.$breakpoint-mobile) {
        text-align: center;
      }
    }

    .link {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      z-index: 3;
      animation: translateBottom 1s 0.5s ease-in-out forwards;

      @media screen and (max-width: var.$breakpoint-mobile) {
        gap: 2rem;
      }

      .button {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transition: all 0.6s;
        cursor: pointer;
        margin: 0.2rem;
        border: var(--header--button--border);
        border-radius: var.$radius--30;
        background-color: var(--header--button--bg);
        width: 18rem;
        height: 5rem;
        color: var(--header--button--color);
        font-size: var(--header--button--fontSize);
        font-family: var(--fontFamily--archivo);

        &:hover {
          filter: var(--header--button--hover);
        }

        .icon {
          font-size: var(--header--button-icon--fontSize);
        }
      }
    }
  }
}

.active {
  opacity: 1;
}

@keyframes translateBottom {
  to {
    transform: translateY(0px);
  }
  from {
    transform: translateY(-40px);
  }
}

@keyframes IntegratedCircuit {
  16.65% {
    filter: hue-rotate(200deg);
  }

  83.25% {
    filter: hue-rotate(10deg);
  }
}
