@use "../../styles/utils/functions.scss" as fct;
@use "../../styles/utils/variables.scss" as var;
@use "../../styles/utils/mixins.scss";

.notify {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33rem;
  height: 10rem;
  box-shadow: 0 0 0.5rem var(--notify--boxShadow--color);
  border-radius: var.$radius--10;
  overflow: hidden;
  background-color: var(--notify--bg);
  margin-top: 1rem;

  @media screen and (max-width: var.$breakpoint-tablette) {
    width: 32rem;
    height: 9.5rem;
    align-self: center;
  }

  @media screen and (max-width: var.$breakpoint-mobile) {
    width: 30rem;
    height: 9rem;
  }

  & p {
    flex: 4;
    color: var(--notify--text--color);
    padding: 0.5rem 0.5rem 0 0.5rem;
    font-family: var(--fontFamily--inter);
    font-size: var(--notify--text--fontSize--desktop);

    @media screen and (max-width: var.$breakpoint-tablette) {
      font-size: var(--notify--text--fontSize--tablet);
    }

    @media screen and (max-width: var.$breakpoint-mobile) {
      font-size: var(--notify--text--fontSize--mobile);
    }
  }

  .close {
    flex: 1.5;
    align-self: flex-end;
    padding-top: 0.2rem;
    padding-right: 0.1rem;
    cursor: pointer;
    font-size: var(--notify--close--fontSize);

    &:hover {
      transform: scale(1.1);
    }

    &--error {
      color: var(--notify--closeError--color);
    }

    &--success {
      color: var(--notify--closeSuccess--color);
    }
  }

  .bar {
    flex: 1;
    width: 100%;
    animation: SlideLeft 5s forwards;

    &--error {
      background-color: var(--notify--barError--bg);
    }

    &--success {
      background-color: var(--notify--barSuccess--bg);
    }
  }
}

@keyframes SlideLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
