@use "../../styles/utils/variables.scss" as var;

.openBot {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 9;
  color: var(--chatbot--openbot--color);
  font-size: 5rem;
}

.visible {
  right: 1rem !important;
  scroll-behavior: smooth !important;
}

.chatbot {
  position: fixed;
  right: -100%;
  bottom: 10rem;
  z-index: 9;
  transition: right 1s ease-in-out;
  font-family: var(--fontFamily--archivo);
  word-break: break-word;

  @media screen and (max-width: 1530px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    justify-content: center;
    margin-top: -0.1rem;
    background-color: var(--chatbot--bg);
    padding: 3rem 0rem;
  }

  &-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 37rem;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: var(--chatbot--container--boxShadow--color);
    box-shadow: var(--chatbot--container--boxShadow--color);
    -webkit-box-shadow: var(--chatbot--container--boxShadow--color);
    box-shadow: var(--chatbot--container--boxShadow--color);
    border: 1px solid var(--chatbot--container--borderColor);
    border-radius: 0.8rem;
    background-color: var(--chatbot--container--bg);
    padding: 2rem;
  }

  &-entilted {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--chatbot-entilted--color);

    &__icon {
      padding-right: 1rem;
      font-size: var(--chatbot-entilted__icon--fontSize);
    }
  }

  &-messages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 25rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; // Défilement fluide au doigt pour safari
    padding: 1rem;
    scrollbar-color: var(--chatbot--messagesScrollbar--handle)
      var(--chatbot--messagesScrollbar--bg); // firefox
    scrollbar-width: thin; /* largeur de la barre de défilement pour firefox */
    text-shadow: 1px 1px 2px var(--chatbot--messageTextShadow);

    &::-webkit-scrollbar {
      width: 0.4rem; /* largeur de la barre de défilement pour les autres navigateurs */
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--chatbot--messagesScrollbar--handle);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--chatbot--messagesScrollbar--bg);
    }

    .message {
      margin: 0.5rem 0;
      border-radius: 0.5rem;
      padding: 1rem;
      font-size: var(--chatbot--messageUserBot-fontSize);
      white-space: pre-line;
    }

    .user {
      background-color: var(--chatbot--userQuestion--bg);
      color: var(--chatbot--userQuestion--color);
      -ms-flex-item-align: end;
      align-self: flex-end;
    }

    .bot {
      background-color: var(--chatbot--botResponse--bg);
      color: var(--chatbot--botResponse--color);
      -ms-flex-item-align: start;
      align-self: flex-start;
    }
  }

  .chatbot-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
  }

  .chatbot-form input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 0.1rem solid var(--chatbot--inputQuestion--borderColor);
    border-radius: 0.5rem;
    padding: 0.8rem;
    font-size: var(--chatbot--inputAndFocus--fontSize);

    &:focus {
      font-size: var(--chatbot--inputAndFocus--fontSize);
    }
  }

  .chatbot-form button {
    -webkit-transition: filter 0.3s;
    -o-transition: filter 0.3s;
    transition: filter 0.3s;
    cursor: pointer;
    margin-left: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--chatbot--sendButton--bg);
    padding: 0.8rem;
    color: var(--chatbot--sendButton--color);
    font-size: var(--chatbot--sendButton--fontSize);
  }

  .chatbot-form button:hover {
    filter: var(--chatbot--sendButton--hover--bg);
  }
}
