@use "../../styles/utils/variables.scss" as var;

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 100%;
  width: 100%;
  position: relative;
  height: 10rem;
  padding: 1rem 1rem;

  @media screen and (max-width: 1530px) {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    height: auto;
  }

  @media screen and (max-width: var.$breakpoint-mobile) {
    width: 95%;
    padding: 1rem 0;
    margin: 0 auto;
  }

  .infos {
    text-align: center;
    font-size: var(--footer--infos--fontSize);
    font-family: var(--fontFamily--oswald);
    color: var(--footer--infos--color);
    font-weight: var(--footer--infos--fontWeight);
  }
}
