@use "../../../styles/utils/variables.scss" as var;
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 1;
  margin-top: -0.1rem;
  background: var(--project--container--bg);
  padding: 7em 20rem 20rem 20rem;
  max-height: 70rem;

  @media screen and (max-width: 1400px) {
    padding: 5em 5rem 0rem 5rem;
  }

  @media screen and (max-width: var.$breakpoint-tablette) {
    filter: none;
    padding: 0em 5rem 0rem 5rem;
    max-width: 100%;
    max-height: 70rem;
    scroll-margin: 18rem;
  }

  @media screen and (max-width: var.$breakpoint-mobile) {
    flex-direction: column;
    padding: 5rem 0rem 0rem 0rem;
    max-height: 70rem;
  }

  &__title {
    padding: 0 0 10rem 0;
    color: var(--project--title--color);
    font-weight: var(--project--title--fontWeight);
    font-size: var(--project--title--fontSize--desktop);
    font-family: var(--fontFamily--oswald);

    @media screen and (max-width: var.$breakpoint-tablette) {
      font-size: var(--project--title--fontSize--tablet);
    }

    @media screen and (max-width: var.$breakpoint-mobile) {
      font-size: var(--project--title--fontSize--mobile);
      text-align: center;
    }
  }

  &__caroussel {
    display: flex;
    align-items: center;
    border-radius: var.$radius--10;
    max-width: 100%;

    .swiper {
      padding: 2rem 0;
      width: 100%;
      @media screen and (max-width: var.$breakpoint-tablette) {
        padding: 2rem 0rem;
      }

      &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 20rem;
        min-width: 20rem;
        min-height: 19rem;
      }
    }
  }

  .touch {
    padding: 3rem 0 0 0;
    color: var(--project--touch--color);
    font-size: var(--project--touch--fontSize);
    text-align: center;

    @media screen and (max-width: var.$breakpoint-tablette) {
      display: block;
    }
  }
}

.error {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  color: var(--project--error--color);
  font-size: var(--project--error--fontSize);
}
