@use "../../../styles/utils/functions.scss" as fct;
@use "../../../styles/utils/variables.scss" as var;
.container {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 80% 90%;
  max-height: 60rem;
  padding: 10rem 20rem;
  background-color: var(--project--container--bg);

  @media screen and (max-width: 1400px) {
    padding: 10rem 10rem;
  }

  @media screen and (max-width: var.$breakpoint-tablette) {
    filter: none;
    max-width: 100%;
    max-height: 70rem;
    padding: 10rem 5rem;
    scroll-margin: 18rem;
  }

  @media screen and (max-width: var.$breakpoint-mobile) {
    flex-direction: column;
    max-height: 70rem;
    padding: 5rem 1rem;
  }

  &__title {
    font-size: var(--project--title--fontSize--desktop);
    font-family: var(--fontFamily--oswald);
    font-weight: var(--project--title--fontWeight);
    color: var(--project--title--color);
    padding: 0 0 5rem 0;

    @media screen and (max-width: var.$breakpoint-tablette) {
      font-size: var(--project--title--fontSize--tablet);
    }

    @media screen and (max-width: var.$breakpoint-mobile) {
      text-align: center;
      font-size: var(--project--title--fontSize--mobile);
    }
  }

  &__caroussel {
    display: flex;
    align-items: center;
    border-radius: var.$radius--10;
    max-width: 100%;

    .swiper {
      width: 100%;
      padding: 2rem 0;
      @media screen and (max-width: var.$breakpoint-tablette) {
        padding: 2rem 0rem;
      }

      &__slide {
        width: 20rem;
        min-width: 20rem;
        min-height: 19rem;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .touch {
    text-align: center;
    padding: 3rem 0 0 0;
    font-size: var(--project--touch--fontSize);
    color: var(--project--touch--color);

    @media screen and (max-width: var.$breakpoint-tablette) {
      display: block;
    }
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10rem;
  font-size: var(--project--error--fontSize);
  color: var(--project--error--color);
}
