@use "./styles/utils/variables.scss" as var;

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 62.5%; // 1rem = 10 pixel => 1.4rem = 14px (le nombre *10)
}

a {
  color: inherit;
  text-decoration: none;
}

:root,
.light {
  --fontFamily--oswald: #{var.$oswald};
  --fontFamily--inter: #{var.$inter};
  --fontFamily--archivo: #{var.$archivo};
  /* body */
  --body--bg--color: #{var.$light-color};
  /* Navbar */
  --navbar--container--bg: rgba(114, 152, 228, 0.98);
  --navbar--link--color: #{var.$blue-700};
  --navbar--link--fontWeight: bold;
  --navbar--link--fontSize: 1.8rem;
  --navbar--stars--color: #{var.$white-color};
  --navbar--stars--fontsize: 1.9rem;
  --navbar--burger--color: #{var.$blue-700};
  --navbar--burger--fontsize: 3.5rem;
  /* SwitchTheme */
  --switchTheme--sunmoon--bg: #{var.$light-color};
  --switchTheme--sunmoon--color: #{var.$dark-color};
  --switchTheme--bg--toogle: #{var.$blue-500};
  --switchTheme--fontSize--icon--desktop: 1.6rem;
  --switchTheme--fontSize--icon--tablet: 1.5rem;
  --switchTheme--fontSize--icon--mobile: 1.4rem;
  /* SwitchLanguage */
  --switchLanguage--label--color: #{var.$blue-700};
  --switchLanguage--label--fontSize: 1.7rem;
  /* Header */
  --header--bg: linear-gradient(
    to bottom,
    #{var.$blue-100},
    #{var.$gray-200},
    #{var.$gray-100},
    #{var.$gray-150}
  );
  --header--IntegerCircuit: hue-rotate(220deg);
  --header--profession--border: #{var.$black-color};
  --header--profession--bg: #{var.$white-color};
  --header--profession--color: #{var.$black-color};
  --header--profession--fontSize--desktop: 1.6rem;
  --header--profession--fontSize-tablet: 1.4rem;
  --header--profession--fontSize-mobile: 1.5rem;
  --header--title: #{var.$black-color};
  --header--title--fontWeight: 300;
  --header--title--fontSize--desktop: 6rem;
  --header--title--fontSize--tablet: 6.4rem;
  --header--buttonBorder: 1px dotted grey;
  --header--button--bg: #{var.$white-color};
  --header--button--color: #{var.$blue-700};
  --header--button--fontSize: 2.5rem;
  --header--button--hover: brightness(90%);
  --header--button-icon--fontSize: 3.2rem;
  /* About */
  --about--containerBoxShadow--color: #{var.$black-color};
  --about--container--bg: linear-gradient(
    to left,
    #{var.$gray-100},
    #{var.$gray-150},
    #{var.$blue-200}
  );
  --about--containerBefore--boxShadow: rgba(0, 0, 0, 0.4);
  --about--containerBefore--bg: #{var.$gray-150};
  --about--backgroundFilter: hue-rotate(150deg);
  --about--title--color: #{var.$dark-blue-color};
  --about--title--fontWeight: 300;
  --about--title--fontSize--desktop: #{var.$h2-title-desktop};
  --about--title--fontSize--tablet: #{var.$h2-title-tablet};
  --about--title--fontSize--mobile: #{var.$h2-title-mobile};
  --about--presentation--color: #{var.$burgundy-color};
  --about--presentation--fontSize: 2.2rem;
  --about--splashImgFilter: hue-rotate(10deg);
  --about--shape--filterDropSHadow: #{var.$dark-blue-color};
  /* Projets Caroussel */
  --project--container--bg: linear-gradient(
    to bottom,
    #{var.$gray-300},
    #{var.$gray-400},
    #{var.$gray-500},
    #{var.$blue-200},
    #{var.$blue-100}
  );
  --project--title--color: #{var.$dark-blue-color};
  --project--title--fontWeight: 300;
  --project--title--fontSize--desktop: #{var.$h2-title-desktop};
  --project--title--fontSize--tablet: #{var.$h2-title-tablet};
  --project--title--fontSize--mobile: #{var.$h2-title-mobile};
  --project--touch--color: #{var.$blue-700};
  --project--touch--fontSize: 3rem;
  --project--error--color: #{var.$primary-color};
  --project--error--fontSize: 2.5rem;
  /* CardProject */
  --cardProject--flip-card--filterDropShadow: rgba(0, 0, 0, 0.5);
  --cardProject--flip-card--borderColor: #{var.$transparent-color};
  --cardProject--bg: #{var.$light-color};
  --cardProject--flip-card-inner--bg: #{var.$light-color};
  --cardProject--flip-card-front: #{var.$dark-color};
  --cardProject--flip-card-back--bg: #{var.$burgundy-color};
  --cardProject--flip-card-back--color: #{var.$white-color};
  --cardProject--source--fontSize--desktop: 3rem;
  --cardProject--source--fontSize--mobile: 3.2rem;
  --cardProject--title--fontSize--desktop: 2.5rem;
  --cardProject--title--fontSize--1400: 2rem;
  --cardProject--title--fontSize--mobile: 3.2rem;
  --cardProject--borderTop--color: #{var.$dark-color};
  --cardProject--borderBottom--color: #{var.$dark-color};
  --cardProject--description--bg: #{var.$white-color};
  --cardProject--description--color: #{var.$dark-color};
  --cardProject--description--fontSize--desktop: 1.8rem;
  --cardProject--description--fontSize--1400: 1.5rem;
  --cardProject--description--fontSize--mobile: 1.8rem;
  --cardProject--iconeTechno--fontSize--desktop: 3rem;
  --cardProject--iconeTechno--fontSize--tablet: 3rem;
  --cardProject--iconeTechno--fontSize--mobile: 3.2rem;
  --cardProject--goBack--bg: #{var.$white-color};
  --cardProject--goBack--color: #{var.$dark-color};
  --cardProject--goBack--fontSize: 2rem;
  --cardProject--curve--fill: #{var.$light-color};
  /* Loader */
  --loader--icon--colors: #{var.$primary-color};
  --loader--icon--fontSize: 8rem;
  /* Skills */
  --skills--container--bg: linear-gradient(
    to bottom,
    #{var.$blue-100},
    #{var.$gray-100},
    #{var.$gray-200},
    #{var.$gray-300}
  );
  --skills--backgroundFilter: none;
  --skills--title--color: #{var.$dark-blue-color};
  --skills--title--fontWeight: 300;
  --skills--title--fontSize--desktop: #{var.$h2-title-desktop};
  --skills--title--fontSize--tablet: #{var.$h2-title-tablet};
  --skills--title--fontSize--mobile: #{var.$h2-title-mobile};

  /* CardSkill */
  --cardSkill--borderColor: #{var.$gray-300};
  --cardSkill--bg: #{var.$gray-100};
  --cardSkill--chevron--color: #{var.$white-color};
  --cardSkill--iconTechno--color: #{var.$burgundy-color};
  --cardSkill--iconTechno--fontSize--desktop: 5rem;
  --cardSkill--iconTechno--fontSize--tablet: 5rem;
  --cardSkill--iconTechno--fontSize--mobile: 4rem;
  --cardSkill--nameTechno--color: #{var.$dark-color};
  --cardSkill--nameTechno--fontSize--desktop: 1.8rem;
  --cardSkill--nameTechno--fontSize--tablet: 1.4rem;
  --cardSkill--nameTechno--fontSize--mobile: 1.3rem;
  --cardSkill--description--color: #{var.$dark-color};
  --cardSkill--description--fontSize--desktop: 1.5rem;
  --cardSkill--description--fontSize--mobile: 1.4rem;
  --cardskill--tiltFill: #{var.$light-color};
  --cardSkill--dividingBorder: #{var.$dark-blue-color};
  --cardSkill--iconArrow--color: #{var.$burgundy-color};
  --cardSkill--iconArrow--fontSize--desktop: 2.3rem;
  --cardSkill--iconArrow--fontSize--tablet: 2.2rem;
  --cardSkill--iconArrow--fontSize--mobile: 2.1rem;
  /* Contact */
  --contact--bg: linear-gradient(
    to bottom,
    #{var.$gray-100},
    #{var.$gray-200},
    #{var.$gray-300},
    #{var.$gray-400},
    #{var.$blue-100},
    #{var.$blue-200},
    #{var.$blue-300},
    #{var.$blue-400}
  );
  --contact--containerBefore--bg: #{var.$gray-300};
  --contact--title--color: #{var.$dark-blue-color};
  --contact--title--fontWeight: 300;
  --contact--title--fontSize--desktop: #{var.$h2-title-desktop};
  --contact--title--fontSize--tablet: #{var.$h2-title-tablet};
  --contact--title--fontSize--mobile: #{var.$h2-title-mobile};
  --contact--label--color: #{var.$burgundy-color};
  --contact--label--fontSize--desktop: 2rem;
  --contact--label--fontSize--tablet: 1.8rem;
  --contact--errors--color: #{var.$dark-color};
  --contact--errors--fontSize: 1.6rem;
  --contact--inputBorder: 1px dashed grey;
  --contact--input--bg: #{var.$white-color};
  --contact--input--color: #{var.$dark-color};
  --contact--placeHolder--color: #{var.$dark-color};
  --contact--placeHolder--fontSize: 1.5rem;
  --contact--send--bg: #{var.$blue-600};
  --contact--send--color: #{var.$light-color};
  --contact--send--fontSize--desktop: 2.2rem;
  --contact--send--fontSize--mobile: 1.8rem;
  --contact--elipse--borderColor: #{var.$burgundy-color};
  /* Download Button cv */
  --downloadbutton--button--bg: #{var.$transparent-color};
  --downloadbutton--button--color: #{var.$blue-700};
  --downloadbutton--button--fontSize: 2rem;
  --downloadbutton--icon--color: #{var.$blue-700};
  --downloadbutton--icon--fontSize: 4rem;
  /* Footer */
  --footer--bg: #{var.$blue-400};
  --footer--infos--color: #{var.$light-color};
  --footer--infos--fontWeight: normal;
  --footer--infos--fontSize: 1.7rem;
  --footer--wave: #{var.$light-color};
  /* Notification du contact */
  --notify--boxShadow--color: rgba(0, 0, 0, 0.4);
  --notify--bg: #{var.$light-color};
  --notify--text--color: #{var.$dark-color};
  --notify--text--fontSize--desktop: 1.4rem;
  --notify--text--fontSize--tablet: 1.3rem;
  --notify--text--fontSize--mobile: 1.3rem;
  --notify--close--fontSize: 3rem;
  --notify--closeError--color: tomato;
  --notify--closeSuccess--color: green;
  --notify--barError--bg: tomato;
  --notify--barSuccess--bg: green;
  /* Chatbot */
  --chatbot--openbot--color: #{var.$blue-700};
  --chatbot--bg: #{var.$blue-400};
  --chatbot--container--boxShadow--color: rgba(0, 0, 0, 0.1);
  --chatbot--container--borderColor: #ccc;
  --chatbot--container--bg: #{var.$transparent-color};
  --chatbot-entilted--color: #{var.$dark-color};
  --chatbot-entilted__icon--fontSize: 4rem;
  --chatbot--messagesScrollbar--handle: #{var.$four-color};
  --chatbot--messagesScrollbar--bg: #{var.$light-color};
  --chatbot--messageTextShadow: rgba(0, 0, 0, 1);
  --chatbot--messageUserBot-fontSize: 1.5rem;
  --chatbot--userQuestion--bg: #{var.$five-color};
  --chatbot--userQuestion--color: #{var.$light-color};
  --chatbot--botResponse--bg: #{var.$blue-700};
  --chatbot--botResponse--color: #{var.$light-color};
  --chatbot--inputQuestion--borderColor: #ccc;
  --chatbot--inputAndFocus--fontSize: 1.6rem;
  --chatbot--sendButton--bg: #{var.$five-color};
  --chatbot--sendButton--color: #{var.$light-color};
  --chatbot--sendButton--fontSize: 1.6rem;
  --chatbot--sendButton--hover--bg: brightness(110%);
}

.dark {
  /* Body */
  --body--bg--color: #{var.$dark-color};
  /* Navbar */
  --navbar--container--bg: #{var.$dark-color};
  --navbar--link--color: #{var.$primary-color};
  --navbar--stars--color: #{var.$light-color};
  --navbar--burger--color: #{var.$light-color};
  /* SwitchTheme */
  --switchTheme--sunmoon--bg: #{var.$light-color};
  --switchTheme--bg--toogle: #{var.$six-color};
  /* SwitchLanguage */
  --switchLanguage--label--color: #{var.$primary-color};
  /* Header */
  --header--bg: #{var.$dark-color};
  --header--IntegerCircuit: none;
  --header--profession--border: #{var.$black-color};
  --header--profession--color: #{var.$black-color};
  --header--title: #{var.$light-color};
  --header--button--border: none;
  --header--button--bg: #{var.$dark-blue-color};
  --header--button--color: #{var.$light-color};
  --header--button--hover: brightness(120%);
  /* About */
  --about--containerBoxShadow--color: #{var.$light-color};
  --about--container--bg: #{var.$dark-blue-color};
  --about--containerBefore--bg: #{var.$dark-color};
  --about--backgroundFilter: brightness(40%);
  --about--title--color: #{var.$second-color};
  --about--presentation--color: #{var.$light-color};
  --about--splashImgFilter: hue-rotate(400deg);
  --about--shape--filterDropSHadow: #{var.$black-color};
  /* Projets Caroussel */
  --project--container--bg: linear-gradient(
    to bottom,
    #{var.$dark-blue-color},
    #{var.$dark-color},
    #{var.$dark-color}
  );
  --project--title--color: #{var.$second-color};
  --project--touch--color: #{var.$light-color};
  --project--error--color: #{var.$light-color};
  /* CardProject */
  --cardProject--flip-card--filterDropShadow: rgba(255, 255, 255, 0.5);
  --cardProject--flip-card--borderColor: #{var.$transparent-color};
  --cardProject--bg: #{var.$six-color};
  --cardProject--flip-card-back--bg: #{var.$dark-blue-color};
  /* Loader */
  --loader--icon--colors: #{var.$light-color};
  /* Skills */
  --skills--container--bg: #{var.$dark-color};
  --skills--title--color: #{var.$second-color};
  /* Download Button cv */
  --downloadbutton--icon--color: #{var.$primary-color};
  --downloadbutton--button--color: #{var.$primary-color};
  /* CardSkill */
  --cardSkill--borderColor: #{var.$black-color};
  --cardSkill--bg: #{var.$dark-blue-color};
  --cardSkill--chevron--color: #{var.$dark-color};
  --cardSkill--iconTechno--color: #{var.$second-color};
  --cardSkill--nameTechno--color: #{var.$light-color};
  --cardSkill--description--color: #{var.$light-color};
  --cardSkill--dividingBorder: #{var.$dark-color};
  --cardSkill--iconArrow--color: #{var.$gold-color};
  --cardskill--tiltFill: #{var.$black-color};
  /* Contact */
  --contact--bg: linear-gradient(
    to bottom,
    #{var.$dark-blue-color},
    #{var.$dark-color}
  );
  --contact--containerBefore--bg: #{var.$dark-color};
  --contact--title--color: #{var.$second-color};
  --contact--label--color: #{var.$primary-color};
  --contact--errors--color: #{var.$light-color};
  --contact--inputBorder: 1px dashed #{var.$second-color};
  --contact--input--bg: #{var.$dark-blue-color};
  --contact--input--color: #{var.$light-color};
  --contact--placeHolder--color: #{var.$light-color};
  --contact--send--bg: #{var.$dark-blue-color};
  --contact--send--color: #{var.$light-color};
  --contact--elipse--borderColor: #{var.$light-color};
  /* Footer */
  --footer--bg: #{var.$dark-color};
  --footer--infos--color: #{var.$light-color};
  --footer--infos--fontWeight: 500;
  --footer--wave: #{var.$primary-color};
  /* Chatbot */
  --chatbot--openbot--color: #{var.$white-color};
  --chatbot--bg: #{var.$dark-color};
  --chatbot--container--boxShadow: #{var.$primary-color};
  --chatbot--container--borderColor: #{var.$primary-color};
  --chatbot--container--bg: rgba(255, 255, 255, 0.1);
  --chatbot-entilted--color: #{var.$light-color};
  --chatbot--userQuestion--bg: #{var.$dark-blue-color};
  --chatbot--botResponse--bg: #{var.$dark-color};
  --chatbot--sendButton--bg: #{var.$four-color};
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Body */
    --body--bg--color: #{var.$dark-color};
    /* Navbar */
    --navbar--container--bg: #{var.$dark-color};
    --navbar--link--color: #{var.$primary-color};
    --navbar--stars--color: #{var.$light-color};
    --navbar--burger--color: #{var.$light-color};
    /* SwitchTheme */
    --switchTheme--sunmoon--bg: #{var.$light-color};
    --switchTheme--bg--toogle: #{var.$six-color};
    /* SwitchLanguage */
    --switchLanguage--label--color: #{var.$primary-color};
    /* Header */
    --header--bg: #{var.$dark-color};
    --header--IntegerCircuit: none;
    --header--profession--border: #{var.$black-color};
    --header--profession--color: #{var.$black-color};
    --header--title: #{var.$light-color};
    --header--button--border: none;
    --header--button--bg: #{var.$dark-blue-color};
    --header--button--color: #{var.$light-color};
    --header--button--hover: brightness(120%);
    /* About */
    --about--containerBoxShadow--color: #{var.$light-color};
    --about--container--bg: #{var.$dark-blue-color};
    --about--containerBefore--bg: #{var.$dark-color};
    --about--backgroundFilter: brightness(40%);
    --about--title--color: #{var.$second-color};
    --about--presentation--color: #{var.$light-color};
    --about--splashImgFilter: hue-rotate(400deg);
    --about--shape--filterDropSHadow: #{var.$black-color};
    /* Projets Caroussel */
    --project--container--bg: linear-gradient(
      to bottom,
      #{var.$dark-blue-color},
      #{var.$dark-color},
      #{var.$dark-color}
    );
    --project--title--color: #{var.$second-color};
    --project--touch--color: #{var.$light-color};
    --project--error--color: #{var.$light-color};
    /* CardProject */
    --cardProject--flip-card--filterDropShadow: rgba(255, 255, 255, 0.5);
    --cardProject--flip-card--borderColor: #{var.$transparent-color};
    --cardProject--bg: #{var.$six-color};
    --cardProject--flip-card-back--bg: #{var.$dark-blue-color};
    /* Loader */
    --loader--icon--colors: #{var.$light-color};
    /* Skills */
    --skills--container--bg: #{var.$dark-color};
    --skills--title--color: #{var.$second-color};
    /* Download Button cv */
    --downloadbutton--icon--color: #{var.$primary-color};
    --downloadbutton--button--color: #{var.$primary-color};
    /* CardSkill */
    --cardSkill--borderColor: #{var.$black-color};
    --cardSkill--bg: #{var.$dark-blue-color};
    --cardSkill--chevron--color: #{var.$dark-color};
    --cardSkill--iconTechno--color: #{var.$second-color};
    --cardSkill--nameTechno--color: #{var.$light-color};
    --cardSkill--description--color: #{var.$light-color};
    --cardSkill--dividingBorder: #{var.$dark-color};
    --cardSkill--iconArrow--color: #{var.$gold-color};
    --cardskill--tiltFill: #{var.$black-color};
    /* Contact */
    --contact--bg: linear-gradient(
      to bottom,
      #{var.$dark-blue-color},
      #{var.$dark-color}
    );
    --contact--containerBefore--bg: #{var.$dark-color};
    --contact--title--color: #{var.$second-color};
    --contact--label--color: #{var.$primary-color};
    --contact--errors--color: #{var.$light-color};
    --contact--inputBorder: 1px dashed #{var.$second-color};
    --contact--input--bg: #{var.$dark-blue-color};
    --contact--input--color: #{var.$light-color};
    --contact--placeHolder--color: #{var.$light-color};
    --contact--send--bg: #{var.$dark-blue-color};
    --contact--send--color: #{var.$light-color};
    --contact--elipse--borderColor: #{var.$light-color};
    /* Footer */
    --footer--bg: #{var.$dark-color};
    --footer--infos--color: #{var.$light-color};
    --footer--infos--fontWeight: 500;
    --footer--wave: #{var.$primary-color};
    /* Chatbot */
    --chatbot--openbot--color: #{var.$white-color};
    --chatbot--bg: #{var.$dark-color};
    --chatbot--container--boxShadow: #{var.$primary-color};
    --chatbot--container--borderColor: #{var.$primary-color};
    --chatbot--container--bg: rgba(255, 255, 255, 0.1);
    --chatbot-entilted--color: #{var.$light-color};
    --chatbot--userQuestion--bg: #{var.$dark-blue-color};
    --chatbot--botResponse--bg: #{var.$dark-color};
    --chatbot--sendButton--bg: #{var.$four-color};
  }
}

body {
  background-color: var(--body--bg--color);
}
