@use "../../styles/utils/variables.scss" as var;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: auto;
  padding: 5rem 0 2rem 0;
  width: 100%;

  @media screen and (max-width: var.$breakpoint-tablette) {
    padding: 5rem 0 0 0;
  }

  .button {
    cursor: pointer;
    border: none;
    background-color: var(--downloadbutton--button--bg);
    color: var(--downloadbutton--button--color);
    font-size: var(--downloadbutton--button--fontSize);
    font-family: var(--fontFamily--inter);
  }

  .icone {
    cursor: pointer;
    color: var(--downloadbutton--icon--color);
    font-size: var(--downloadbutton--icon--fontSize);
  }
}
