@use "../../styles/utils/variables.scss" as var;

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10rem;

  .icon {
    font-size: var(--loader--icon--fontSize);
    color: var(--loader--icon--colors);
  }
}
