@use "../../styles/utils/variables.scss" as var;

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  width: 100%;

  .icon {
    color: var(--loader--icon--colors);
    font-size: var(--loader--icon--fontSize);
  }
}
