@use "../../styles/utils/functions.scss" as fct;
@use "../../styles/utils/variables.scss" as var;

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .icon {
    font-size: var(--loader--icon--fontSize);
    color: fct.map-deep-get(--loader--icon--colors);
  }
}
