@use "../../../styles/utils/variables.scss" as var;

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  background: var(--skills--container--bg);
  padding: 10em 20rem 0rem 20rem;

  @media screen and (max-width: 1400px) {
    padding: 10rem 10rem 2rem 10rem;
  }

  @media screen and (max-width: var.$breakpoint-tablette) {
    flex-direction: column;
    margin-top: -0.1rem;
    padding: 15rem 5rem 3rem 5rem;
    scroll-margin: 18rem;
  }

  @media screen and (max-width: var.$breakpoint-mobile) {
    padding: 15rem 0rem 3rem 0rem;
  }

  .title {
    color: var(--skills--title--color);
    font-weight: var(--skills--title--fontWeight);
    font-size: var(--skills--title--fontSize--desktop);
    font-family: var(--fontFamily--oswald);

    @media screen and (max-width: var.$breakpoint-tablette) {
      font-size: var(--skills--title--fontSize--tablet);
    }

    @media screen and (max-width: var.$breakpoint-mobile) {
      font-size: var(--skills--title--fontSize--mobile);
      text-align: center;
    }
  }

  &__Accordeons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    height: auto;
    min-height: 50rem;

    @media screen and (max-width: 1400px) {
      min-height: 45rem;
    }

    @media screen and (max-width: var.$breakpoint-tablette) {
      justify-content: center;
      min-height: 35rem;
    }

    @media screen and (max-width: var.$breakpoint-mobile) {
      flex-direction: column;
      justify-content: start;
      align-items: center;
      margin-top: 4rem;
      height: auto;
      min-height: 70rem;
    }

    .dataAccordeon {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: auto;
    }
  }
}
