@use "../../../styles/utils/variables.scss" as var;

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--skills--container--bg);

  padding: 10rem 20rem 2rem 20rem;

  @media screen and (max-width: 1400px) {
    padding: 10rem 10rem 1rem 10rem;
  }

  @media screen and (max-width: var.$breakpoint-tablette) {
    flex-direction: column;
    padding: 10rem 5rem 1rem 5rem;
    scroll-margin: 18rem;
  }

  @media screen and (max-width: var.$breakpoint-mobile) {
    padding: 5rem 0 3rem 0;
  }

  .title {
    font-size: var(--skills--title--fontSize--desktop);
    font-family: var(--fontFamily--oswald);
    font-weight: var(--skills--title--fontWeight);
    color: var(--skills--title--color);

    @media screen and (max-width: var.$breakpoint-tablette) {
      font-size: var(--skills--title--fontSize--tablet);
    }

    @media screen and (max-width: var.$breakpoint-mobile) {
      font-size: var(--skills--title--fontSize--mobile);
      text-align: center;
    }
  }

  &__Accordeons {
    display: flex;
    justify-content: center;
    min-height: 50rem;
    height: auto;
    gap: 2rem;
    margin-top: 3rem;

    @media screen and (max-width: 1400px) {
      min-height: 45rem;
    }

    @media screen and (max-width: var.$breakpoint-tablette) {
      justify-content: center;
      min-height: 35rem;
    }

    @media screen and (max-width: var.$breakpoint-mobile) {
      flex-direction: column;
      justify-content: start;
      align-items: center;
      min-height: 70rem;
      height: auto;
      margin-top: 4rem;
    }

    .dataAccordeon {
      display: flex;
      flex-direction: column;
      height: auto;
      gap: 2rem;
    }
  }
}
