@use "../../styles/utils/variables.scss" as var;

.test {
  width: 16rem;
  height: 94%;
  display: flex;
  align-self: self-start;
  overflow: hidden;

  @media screen and (max-width: var.$breakpoint-sup) {
    display: none;
  }

  .banner {
    display: flex;
    flex-direction: column;
    height: 98%;
    position: relative;

    .tuyau {
      width: 15rem;
      height: 11rem;
      filter: grayscale(90%) brightness(120%) contrast(150%)
        drop-shadow(0 0.3rem 0.3rem var(--banner--tuyau--filterDropSHadow));

      & .tuyauImg {
        width: 100%;
        height: 100%;
      }
    }

    .roue {
      position: absolute;
      top: 1rem;
      left: 4rem;
      width: 7rem;
      height: 7rem;
      animation: roue 1s ease-in-out infinite;
      filter: grayscale(90%) contrast(180%);

      & .roueImg {
        width: 100%;
        height: 100%;
      }
    }

    .rain {
      opacity: 0;
      animation: rain 2s 1.2s ease-in both infinite;
      width: 8.5rem;
      max-height: 59.2rem;
      min-height: 0.1rem;
      margin-left: 2rem;
      z-index: -2;

      & .bannerbg {
        margin-left: 1rem;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .pot {
      width: 14.3rem;
      height: auto;
      animation: bascule 3.5s 2.3s ease-in-out infinite;
      margin-top: 17rem;
      margin-left: 0.5rem;
      filter: grayscale(90%) brightness(120%) contrast(150%)
        drop-shadow(0 0.3rem 0.3rem var(--banner--pot--filterDropSHadow));

      & .PotImg {
        width: 100%;
        height: auto;
        overflow: hidden;
      }
    }

    .flaque {
      position: absolute;
      bottom: -1.8rem;
      left: 0.5rem;
      z-index: -1;
      overflow: hidden;
      filter: brightness(90%) hue-rotate(20deg);

      .flaqueImg {
        width: 15rem;
        height: 6rem;
      }
    }
  }
}

@keyframes roue {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes jug {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(35deg);
  }
}

@keyframes rain {
  0% {
    opacity: 0;
    transform: translateY(-80rem);
  }
  25% {
    opacity: 0.5;
    transform: translateY(-9rem);
  }
  50% {
    opacity: 1;
    filter: brightness(1.8);
  }
  100% {
    opacity: 0.5;
    transform: translateY(28rem);
  }
}

@keyframes bascule {
  0% {
    transform: rotate(5deg);
  }
  50% {
    // filter: brightness(1.1);
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
