// Repeated Color
/**************/
$primary-color: #6c6e8d;
$second-color: #4e148c;
$third-color: #70c197;
$four-color: #61728c;
$five-color: #1e4481;
$light-color: white;
$dark-color: black;
$transparent-color: transparent;
$h2-title-desktop: 4.8rem;
$h2-title-tablet: 3.5rem;
$h2-title-mobile: 3.4rem;

// FontFamily
/**************/
$archivo: var(--font--archivo);
$oswald: var(--font--oswald);
$inter: var(--font--inter);

/***************************************************************************************/
// -- Radius -- //
/****************/
$radius--5: 0.5rem;
$radius--10: 1rem;
$radius--15: 1.5rem;
$radius--20: 2rem;
$radius--30: 3rem;
$radius--circle: 50%;

// -- Breackpoints -- //
/**********************/
$breakpoint-sup: 1350px;
$breakpoint-tablette: 992px;
$breakpoint-mobile: 768px;

// -- Screens Width Size -- //
/****************************/
$maxWidth: 1600px;
$mediumWidth: 992px;
$minWidth: 768px;
