// Repeated Color
/**************/
$primary-color: #667eea;
$second-color: #0c182a;
$third-color: rgb(78, 194, 240);
$four-color: rgba(79, 70, 229, 1);
$five-color: #4874bd;
$gold-color: #daa520;
$light-color: #ddd;
$white-color: white;
$dark-color: rgba(15, 17, 19, 0.973);
$darken-color: rgba(26, 32, 44, 1);
$transparent-color: transparent;
$h2-title-desktop: 4.8rem;
$h2-title-tablet: 3.5rem;
$h2-title-mobile: 3.4rem;
$black-color: black;

// $primary-color: #6c6e8d;
// $second-color: #0c182a;
// $third-color: #525151;
// $four-color: rgba(79, 70, 229, 1);
// $five-color: #4874bd;
// $gold-color: #daa520;
// $light-color: #ddd;
// $white-color: white;
// $dark-color: rgba(15, 17, 19, 0.973);
// $darken-color: rgba(26, 32, 44, 0.4);
// $transparent-color: transparent;
// $h2-title-desktop: 4.8rem;
// $h2-title-tablet: 3.5rem;
// $h2-title-mobile: 3.4rem;
// $black-color: black;

// FontFamily
/**************/
$archivo: var(--font--archivo);
$oswald: var(--font--oswald);
$inter: var(--font--inter);

/***************************************************************************************/
// -- Radius -- //
/****************/
$radius--5: 0.5rem;
$radius--10: 1rem;
$radius--15: 1.5rem;
$radius--20: 2rem;
$radius--30: 3rem;
$radius--circle: 50%;

// -- Breackpoints -- //
/**********************/
$breakpoint-sup: 1350px;
$breakpoint-tablette: 992px;
$breakpoint-mobile: 768px;

// -- Screens Width Size -- //
/****************************/
$maxWidth: 1600px;
$mediumWidth: 992px;
$minWidth: 768px;
