@use "../../styles/utils/variables.scss" as var;

.bubble {
  position: absolute;
  top: -28rem;
  left: -20rem;
  width: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: var(--shape--bubble--opacity);
  fill: var(--shape--bubble--fill);
  filter: var(--shape--brightness);

  @media screen and (max-width: var.$breakpoint-tablette) {
    top: -28rem;
    left: -15rem;
  }

  @media screen and (max-width: var.$breakpoint-mobile) {
    display: none;
  }
}

.blob-motion {
  width: 80rem;
}
