@use "../../styles/utils/functions.scss" as fct;
@use "../../styles/utils/variables.scss" as var;

.bubble {
  position: absolute;
  top: -20rem;
  left: -3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
  fill: var(--shape--bubble--fill);
  filter: var(--shape--brightness);

  @media screen and (max-width: var.$breakpoint-tablette) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  @media screen and (max-width: var.$breakpoint-mobile) {
    display: none;
  }
}

.blob-motion {
  width: 80rem;
}
