@use "../../styles/utils/variables.scss" as var;

.container {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  transition: min-height 1s ease-in-out;
  background-color: var(--navbar--container--bg);
  padding: 0 1rem;
  width: 100%;
  max-width: 100dvw;
  min-height: 6rem;

  @media screen and (max-width: var.$breakpoint-tablette) {
    align-items: self-start;
    padding-top: 1rem;
  }

  .navbar {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    opacity: 0;
    height: auto;
    height: 6rem;

    @media screen and (max-width: var.$breakpoint-tablette) {
      opacity: 0;
      margin-top: 5rem;
      height: 0rem;
    }

    .list {
      display: none;

      @media screen and (max-width: var.$breakpoint-tablette) {
        flex-direction: column;
        align-items: start;
        transform: translateY(7rem);
      }

      &__item {
        padding: 0 2rem;
        color: var(--navbar--link--color);
        font-weight: var(--navbar--link--fontWeight);
        font-size: var(--navbar--link--fontSize);
        font-family: var(--fontFamily--archivo);

        @media screen and (max-width: var.$breakpoint-tablette) {
          padding: 0.5rem 0;
        }

        &:before {
          margin-right: 1rem;
          content: "\269D";
          color: var(--navbar--stars--color);
          font-size: var(--navbar--stars--fontsize);
        }

        &:hover {
          transform: perspective(0.1rem) translateZ(0);
          animation: wobble-horizontal 1s ease-in-out 1;
        }
      }
    }
  }

  .burger {
    display: none;
    padding: 0.5rem 0;
    font-size: var(--navbar--burger--fontsize);

    @media screen and (max-width: var.$breakpoint-tablette) {
      display: block;
      color: var(--navbar--burger--color);
    }
  }
}

@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(0.8rem);
  }

  33.3% {
    transform: translateX(-0.6rem);
  }

  49.95% {
    transform: translateX(0.4rem);
  }

  66.6% {
    transform: translateX(-0.2rem);
  }

  83.25% {
    transform: translateX(0.1rem);
  }

  100% {
    transform: translateX(0);
  }
}

.visible {
  @media screen and (max-width: var.$breakpoint-tablette) {
    min-height: 21rem;
  }

  & > .navbar {
    opacity: 1;

    & > .list {
      display: flex;
    }
  }
}
