@use "../../styles/utils/functions.scss" as fct;
@use "../../styles/utils/variables.scss" as var;

.container {
  position: sticky;
  top: 0;
  left: 0;
  max-width: 100dvw;
  z-index: 4;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  transition: min-height 0.8s ease-in-out;
  background-color: var(--navbar--container--bg);

  // filter: drop-shadow(
  //   0 0.3rem 0.3rem var(--navbar--container--filterDropSHadow)
  // );

  @media screen and (max-width: var.$breakpoint-tablette) {
    padding-top: 1rem;
    align-items: self-start;
  }

  .navbar {
    flex: 2;
    display: flex;
    opacity: 1;
    justify-content: center;

    @media screen and (max-width: var.$breakpoint-tablette) {
      opacity: 0;
    }

    .list {
      opacity: 1;
      display: flex;

      @media screen and (max-width: var.$breakpoint-tablette) {
        flex-direction: column;
        align-items: start;
        transition: opacity 0.8s 1s ease;
        transform: translateY(7rem);
      }

      &__item {
        padding: 0 2rem;
        font-size: var(--navbar--link--fontSize);
        font-family: var(--fontFamily--archivo);
        font-weight: var(--navbar--link--fontWeight);
        color: var(--navbar--link--color);
        // text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

        @media screen and (max-width: var.$breakpoint-tablette) {
          padding: 0.5rem 0;
        }

        &:before {
          content: "\269D";
          color: var(--navbar--stars--color);
          text-shadow: 0.1rem 0.1rem 0.1rem var(--navbar--stars--textShadow);
          margin-right: 1rem;
          font-size: 1.9rem;
        }

        &:hover {
          animation: wobble-horizontal 1s ease-in-out 1;
          transform: perspective(0.1rem) translateZ(0);
        }
      }
    }
  }

  .burger {
    display: none;
    font-size: 3.5rem;
    padding: 0.5rem 0;

    @media screen and (max-width: var.$breakpoint-tablette) {
      color: var(--navbar--burger--color);
      display: block;
    }
  }
}

@keyframes wobble-horizontal {
  16.65% {
    transform: translateX(0.8rem);
  }

  33.3% {
    transform: translateX(-0.6rem);
  }

  49.95% {
    transform: translateX(0.4rem);
  }

  66.6% {
    transform: translateX(-0.2rem);
  }

  83.25% {
    transform: translateX(0.1rem);
  }

  100% {
    transform: translateX(0);
  }
}
