@use "../../styles/utils/variables.scss" as var;

.contact {
  display: flex;
  background: var(--contact--bg);
  padding: 5rem 20rem 0rem 20rem;

  &::before {
    position: absolute;
    top: -0.2rem;
    left: 0;
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.4);
    background-color: var(--contact--containerBefore--bg);
    width: 100%;
    height: 1rem;
    content: "";
  }

  @media screen and (max-width: 1400px) {
    padding: 10rem 10rem 0 10rem;
  }

  @media screen and (max-width: var.$breakpoint-tablette) {
    flex-direction: column;
    padding: 10rem 5rem 3rem 5rem;
    scroll-margin: 18rem;
  }

  @media screen and (max-width: var.$breakpoint-mobile) {
    flex-direction: column;
    align-items: center;
    padding: 5rem 0rem 3rem 0rem;
  }

  .container-formulaire {
    display: flex;
    position: relative;
    flex: 3;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: var.$breakpoint-tablette) {
      flex-direction: column;
      justify-content: center;
    }

    .title {
      color: var(--contact--title--color);
      font-weight: var(--contact--title--fontWeight);
      font-size: var(--contact--title--fontSize--desktop);
      font-family: var(--fontFamily--oswald);

      @media screen and (max-width: var.$breakpoint-tablette) {
        font-size: var(--contact--title--fontSize--tablet);
      }

      @media screen and (max-width: var.$breakpoint-mobile) {
        font-size: var(--contact--title--fontSize--mobile);
      }
    }

    .form__contact {
      display: grid;
      position: relative;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "lastname firstname"
        "email tel"
        "entilted entilted"
        "message message"
        "send send";
      grid-area: form-contact;
      align-items: center;
      justify-items: center;
      gap: 2rem;
      border-radius: var.$radius--10;

      padding: 2rem;
      width: 75rem;

      @media screen and (max-width: var.$breakpoint-tablette) {
        width: 90%;
      }

      @media screen and (max-width: var.$breakpoint-mobile) {
        grid-template-rows: 7fr;
        grid-template-columns: repeat(1, minmax(20rem, 37rem));
        grid-template-areas:
          "lastname"
          "firstname"
          "email"
          "tel"
          "entilted"
          "message"
          "send";
        gap: 2rem;
        width: 100%;
      }

      @mixin gridAreaLabels($gridAreaNames) {
        @for $i from 1 through length($gridAreaNames) {
          &:nth-child(#{$i}) {
            grid-area: nth($gridAreaNames, $i);
            width: 100%;
          }
        }
      }

      .label {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        color: var(--contact--label--color);
        font-size: var(--contact--label--fontSize--desktop);
        font-family: var(--fontFamily--archivo);

        @media screen and (max-width: var.$breakpoint-tablette) {
          font-size: var(--contact--label--fontSize--tablet);
        }

        @include gridAreaLabels(
          (lastname, firstname, email, tel, entilted, message)
        );

        .errors {
          margin-top: 0.5rem;
          margin-bottom: 1rem;
          color: var(--contact--errors--color);
          font-style: italic;
          font-size: var(--contact--errors--fontSize);
          text-align: center;
        }
      }

      .input {
        border: var(--contact--inputBorder);
        border-radius: var.$radius--10;
        background-color: var(--contact--input--bg);
        padding: 1rem;
        width: 100%;
        height: 4rem;
        color: var(--contact--input--color);

        &::placeholder {
          opacity: 1;
          color: var(--contact--placeHolder--color);
          font-size: var(--contact--placeHolder--fontSize);
        }
      }

      .textarea {
        margin-bottom: 1rem;
        border: var(--contact--inputBorder);
        border-radius: var.$radius--10;
        background-color: var(--contact--input--bg);
        padding: 1rem;
        width: 100%;
        height: 17rem;
        resize: none;
        color: var(--contact--input--color);

        &::placeholder {
          opacity: 1;
          color: var(--contact--placeHolder--color);
          font-size: var(--contact--placeHolder--fontSize);
        }
      }

      .send {
        grid-area: send;
        transition: filter 0.6s;
        cursor: pointer;
        margin-top: 1rem;
        border: none;
        border-radius: var.$radius--10;
        background-color: var(--contact--send--bg);
        width: 20%;
        height: 4rem;
        color: var(--contact--send--color);
        font-size: var(--contact--send--fontSize--desktop);
        font-family: var(--fontFamily--oswald);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

        &:hover {
          filter: brightness(120%);
        }

        @media screen and (max-width: var.$breakpoint-tablette) {
          width: 30%;
        }

        @media screen and (max-width: var.$breakpoint-mobile) {
          width: 40%;
          font-size: var(--contact--send--fontSize--mobile);
        }
      }
    }
  }

  .elipse {
    position: absolute;
    top: -6rem;
    left: -3rem;
    transform: rotate(-30deg);
    z-index: -1;
    border: 0.1rem solid var(--contact--elipse--borderColor);
    border-radius: var.$radius--circle;
    width: 20rem;
    height: 65rem;

    @media screen and (max-width: var.$breakpoint-tablette) {
      display: none;
    }
  }
}
