@use "../../../styles/utils/variables.scss" as var;

.cardSkill {
  display: flex;
  position: relative;
  flex-direction: column;
  transition: max-height 0.8s ease-in-out;
  border: 1px solid var(--cardSkill--borderColor);
  border-radius: var.$radius--10;
  background: var(--cardSkill--bg);
  padding: 1rem;
  width: 40rem;
  max-height: 7.1rem;
  overflow: hidden;

  @media screen and (max-width: var.$breakpoint-tablette) {
    width: 35.5rem;
    max-height: 7rem;
  }

  @media screen and (max-width: var.$breakpoint-mobile) {
    margin: auto;
    width: 90%;
    max-height: 6.5rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    height: auto;

    .slideToBottom {
      cursor: pointer;
      color: var(--cardSkill--chevron--color);
      font-size: 3rem;
    }

    &__icones {
      display: flex;
      align-items: center;
      justify-content: center;
  

      .icone {
        padding: 0 0.5rem 0.5rem 0;
        color: var(--cardSkill--iconTechno--color);
        font-size: var(--cardSkill--iconTechno--fontSize--mobile);

        @media screen and (max-width: var.$breakpoint-tablette) {
          font-size: var(--cardSkill--iconTechno--fontSize--tablet);
        }

        @media screen and (max-width: var.$breakpoint-mobile) {
          padding-left: 0.5rem;
          font-size: var(--cardSkill--iconTechno--fontSize--mobile);
        }
      }

      .nameTechno {
        padding-left: 0.5rem;
        color: var(--cardSkill--nameTechno--color);
        font-size: var(--cardSkill--nameTechno--fontSize--desktop);
        font-family: var(--fontFamily--inter);

        @media screen and (max-width: var.$breakpoint-tablette) {
          font-size: var(--cardSkill--nameTechno--fontSize--tablet);
        }

        @media screen and (max-width: var.$breakpoint-mobile) {
          font-size: var(--cardSkill--nameTechno--fontSize--mobile);
        }
      }
    }
  }

  .descriptionTechno {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    color: var(--cardSkill--description--color);
    font-size: var(--cardSkill--description--fontSize--desktop);
    font-family: var(--fontFamily--inter);

    @media screen and (max-width: var.$breakpoint-mobile) {
      font-size: var(--cardSkill--description--fontSize--mobile);
    }

    .tilt {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: rotate(180deg);
      z-index: -1;
      transition: opacity 0.5s ease-in-out;
      width: 100%;
      overflow: hidden;
      line-height: 0;
    }

    .tilt svg {
      display: block;
      position: relative;
      transform: rotateY(180deg);
      width: calc(100% + 0.13rem);
      height: 8rem;
    }

    .tilt .tilt-fill {
      fill: var(--cardskill--tiltFill);
      opacity: 0.2;
    }
  }

  & p {
    padding: 1rem 0rem 0.5rem 0.5rem;

    &:first-of-type {
      border-top: 0.1rem solid var(--cardSkill--dividingBorder);
      padding: 1rem 0 0 0.5rem;
    }

    &::before {
      padding-right: 0.5rem;
      content: "\2BB1";
      color: var(--cardSkill--iconArrow--color);
      font-size: var(--cardSkill--iconArrow--fontSize--desktop);
      font-family: var(--font--noto);

      @media screen and (max-width: var.$breakpoint-tablette) {
        font-size: var(--cardSkill--iconArrow--fontSize--tablet);
      }

      @media screen and (max-width: var.$breakpoint-mobile) {
        font-size: var(--cardSkill--iconArrow--fontSize--mobile);
      }
    }
  }
}

.visible {
  max-height: 35rem;

  & > .descriptionTechno {
    opacity: 1;
  }

  & .slideToBottom {
    transform: rotate(180deg);
  }
}
